@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-Light-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-Light-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-Light-webfont.woff') format('woff');
  //src: url('../fonts/CormorantSC-Light-webfont.woff') format('woff');
  //src: url('../fonts/CormorantUpright-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-Regular-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-Regular-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-Regular-webfont.woff') format('woff');
  //src: url('../fonts/CormorantSC-Regular-webfont.woff') format('woff');
  //src: url('../fonts/CormorantUpright-Regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-Medium-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-Medium-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-Medium-webfont.woff') format('woff');
  //src: url('../fonts/CormorantSC-Medium-webfont.woff') format('woff');
  //src: url('../fonts/CormorantUpright-Medium-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-SemiBold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-SemiBold-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-SemiBold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantSC-SemiBold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantUpright-SemiBold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-Bold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-Bold-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-Bold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantSC-Bold-webfont.woff') format('woff');
  //src: url('../fonts/CormorantUpright-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-LightItalic-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-LightItalic-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-Italic-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-Italic-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-Italic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-MediumItalic-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-MediumItalic-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-MediumItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-SemiBoldItalic-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-SemiBoldItalic-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-SemiBoldItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/CormorantGaramond-BoldItalic-webfont.woff') format('woff');
  //src: url('../fonts/CormorantInfant-BoldItalic-webfont.woff') format('woff');
  //src: url('../fonts/Cormorant-BoldItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}
