html {
  height: 100%;
  max-height: 100%;
}

body {
  display: grid;
  grid-template: auto / 1fr auto 1fr;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
  grid-row-gap: 15px;
  background-color: #dedede;
  font-family: 'CMU', serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 300;
  hyphens: auto;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
  line-height: 1.2em;
}

h2 {
  font-size: 4rem;
  line-height: 1.2em;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(42, 42, 42, 0.2);
  padding: 1em 2em;
  margin: 0em 2em;
  border-radius: 10px;
  width: 50em;
}

.site-header {
  grid-area: header;
  text-align: center;
  font-family: CormorantInfant;
}

.site-header > h1 {
  font-variant: small-caps;
  font-size: 300%;
  font-weight: 300;
  letter-spacing: .05em;
  word-spacing: .2em;
  margin: 12px 0em;
}

.site-header > h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 130%;
  margin: 12px 0em;
}

.site-main {
  grid-area: main;
  text-align: justify;
}

.site-main header {
  font-family: CormorantInfant;
}

.site-main header h1 {
  margin: 0;
}

.site-main header .metadata {
  font-style: italic;
  margin: 0;
}

.site-footer {
  grid-area: footer;
  text-align: center;
}

.site-footer > div {
  font-size: 75%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: 'CMU-TW';
}

.post-index {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.post-index .right {
  text-align: right;
}
