body {
  display: grid;
  grid-template: auto / 1fr auto 1fr;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
}

.site-header {
  grid-area: header;
  text-align: center;
}

.site-main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
  text-align: center;
}

header, footer, main, article {
  border: 1px solid blue;
}

body > header, body > footer, main {
  border: 1px solid red;
}

//html {
//    height: 100%;
//    max-height: 100%;
//    font-size: 62.5%;
//}
//
//body {
//    height: 100%;
//    max-height: 100%;
//    font-family: 'Noto Sans', 'Noto Serif', serif;
//    font-size: 2.0rem;
//    line-height: 1.6em;
//    color: #3A4145;
//}

//{
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//  border: 1px solid red;
//}
//
//body {
//  color: #111111;               /* Dark gray */
//  background-color: #EEEEEE;    /* Light gray */
//  font-size: 18px;
//  font-family: "Helvetica", "Arial", sans-serif;
//}
//
//h1 {
//  font-size: 2em;
//}
//
//h2 {
//  font-size: 1.6em;
//}
//
//ul {
//  list-style-type: circle;
//}
//
//ol {
//  list-style-type: lower-roman;
//}
