body {
  display: grid;
  grid-template: auto / 1fr auto 1fr;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
}

.site-header {
  grid-area: header;
  text-align: center;
}

.site-main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
  text-align: center;
}

article {
  min-width: 80em;
  max-width: 100em;
}

header, footer, main, article {
  border: 1px solid blue;
}

body > header, body > footer, main {
  border: 1px solid red;
}
